<!-- src/app/features/productos/product-modal.component.html -->
<div class="modal-overlay">
    <div class="modal">
      <h2>Agregar Producto</h2>
      <form class="max-w-sm mx-auto" (ngSubmit)="submit()">
        <label for="product-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Nombre del Producto:
            <input type="text" id="product-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el nombre" required [(ngModel)]="newProductName" name="name" />
        </label>

        <label for="product-price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Precio del Producto:
            <input type="number" id="product-price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el precio" required [(ngModel)]="newProductPrice" name="price" />
        </label>

        <label for="product-stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Stock del Producto:
            <input type="number" id="product-stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el stock" required [(ngModel)]="newProductStock" name="stock" />
        </label>

        <!-- Campo para el detalle del producto -->
        <label for="product-detail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Detalle del Producto:
            <input type="text" id="product-detail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingresa el detalle" required [(ngModel)]="newProductDetail" name="detail" />
        </label>

        <button type="submit">Agregar</button>
        <button type="button" (click)="closeModal.emit()">Cancelar</button>
      </form>
    </div>
</div>
